@import-normalize;

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

html{
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body{
  font-family: 'Lato', sans-serif;
  background: #eee;
}